@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #1f2937;
  }
}

html {
  scroll-behavior: auto !important;
}

body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  position: relative;
}
